<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school_enterprise_platform.mapper.DeclarationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.school_enterprise_platform.entity.Declaration">
        <id column="id" property="id" />
        <result column="enterprise_id" property="enterpriseId" />
        <result column="user_id" property="userId" />
        <result column="type" property="type" />
        <result column="amount" property="amount" />
        <result column="apply_time" property="applyTime" />
        <result column="status" property="status" />
        <result column="reviewer_id" property="reviewerId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, enterprise_id, user_id, type, amount, apply_time, status, reviewer_id
    </sql>

</mapper>
