<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school_enterprise_platform.mapper.ExamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.school_enterprise_platform.entity.Exam">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="course_id" property="courseId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="creator_id" property="creatorId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, course_id, start_time, end_time, status, creator_id
    </sql>

</mapper>
