<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school_enterprise_platform.mapper.JobTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.school_enterprise_platform.entity.JobTag">
        <id column="id" property="id" />
        <result column="job_id" property="jobId" />
        <result column="tag_id" property="tagId" />
        <result column="weight" property="weight" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, job_id, tag_id, weight
    </sql>

</mapper>
