<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school_enterprise_platform.mapper.StudentAnalysisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.school_enterprise_platform.entity.StudentAnalysis">
        <id column="student_id" property="studentId" />
        <result column="total_courses" property="totalCourses" />
        <result column="completed_courses" property="completedCourses" />
        <result column="avg_score" property="avgScore" />
        <result column="job_apply_count" property="jobApplyCount" />
        <result column="job_success_count" property="jobSuccessCount" />
        <result column="last_update" property="lastUpdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        student_id, total_courses, completed_courses, avg_score, job_apply_count, job_success_count, last_update
    </sql>

</mapper>
